# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/resource developer
/libs
/gradle
/libs
/Paulscode SoundSystem CodecIBXM License.txt
/build.gradle
/CREDITS-fml.txt
/Discraft.iml
/Discraft.ipr
/Discraft.iws
/forge-1.12.2-14.23.4.2709-changelog.txt
/gradle.properties
/gradlew
/gradlew.bat
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
